# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment files
.env
.env.*

# Git
.git
.gitignore

# IDE / Editor
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Node (if frontend exists)
node_modules/
dist/
build/

# Docker files (optional)
docker-compose.yml
docker-compose.*.yml
Dockerfile
test-nginx.conf
