{% extends 'base.html' %}

{% block title %}Inventory{% endblock %}

{% block content %}

<section class="py-5">
    <div class="container">
        <h1>Search Inventory</h1>

        <form action="{% url 'inventory' %}" method="GET" class="row">
          {% comment %} {% csrf_token %} {% endcomment %}
          <div class="col-auto">
            <input type="search" placeholder="Search by product name" name="product_name" class="form-control" />
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Search</button>
            {% if searched %}
              <a href="{% url 'inventory' %}" class="btn btn-secondary mb-3">Show All Products</a>
            {% endif %}
          </div>
        </form>

    </div>
</section>

<section class="py-5">
  <div class="container">
    <table class="table table-bordered table-hover text-center align-middle">
        <thead class="table-light">
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Weight</th>
                <th scope="col">Unit</th>
                <th scope="col">Quantity</th>
                <th scope="col">Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventories %}
              <tr>
                  <td>{{ item.product_name }}</td>
                  <td>{{ item.weight }}</td>
                  <td>{{ item.unit_label }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>
                      <a href="{% url 'inventory_detail' item.id %}" class="btn btn-primary btn-sm">
                          Take Action
                      </a>
                  </td>
              </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-muted">No inventory items found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

  </div>
</section>


{% endblock %}