{% extends 'base.html' %}


{% block content %}
    <form method="POST" action="{% url 'business_signup' %}" >
        {% csrf_token %}
        <h2>Register Business</h2>

        <label class="form-label" for="business_name">Business Name</label>
        <input class="form-control" type="text" id="business_name" name="business_name" maxlength="255" required>

        <label class="form-label" for="business_address">Business Address</label>
        <textarea class="form-control" id="business_address" name="business_address" rows="3" required></textarea>

        <label class="form-label" for="contact_number">Contact Number</label>
        <input class="form-control" type="tel" id="contact_number" name="contact_number" maxlength="15" required>

        <label class="form-label" for="owner_name">Owner Name</label>
        <input class="form-control" type="text" id="owner_name" name="owner_name" maxlength="255" required>

        <label class="form-label" for="email">Email Address</label>
        <input class="form-control" type="email" id="email" name="email" required>

        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" minlength="8" required>

        <button class="btn btn-md btn-primary" type="submit">Register</button>
    </form>
{% endblock %}